.fa-link {
  background: linear-gradient(to bottom left, orange, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.max-width-sm {
  margin: 0 auto;
  max-width: 500px;
}

.mt-10 {
  margin-top: 10vh;
}