.fa-link {
  background: linear-gradient(to bottom left, orange, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.max-width-sm {
  margin: 0 auto;
  max-width: 500px;
}

.mt-10 {
  margin-top: 10vh;
}

a {
  text-decoration: none;
}

#short-url {
  color: #0d6efd;
}

#short-url:hover {
  cursor: pointer;
  color: #0b5ed7;
}